/*importar fonte do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*dar fonte a todo o body */
.body, button, input {
    font: 400 22px "roboto";
}

li {
    list-style-type: none;
}
:root {
 --blue:DarkBlue;
 --gray: #808080;
 --skyblue: #87CEEB;
 --red: #FF0000;
 --silver: #C0C0C0;
 --white: #FFFFFF;
 --darkgray: #A9A9A9;
}

.red {
    color: red;
    font-family: "Rock Salt", cursive;
}
/*header*/

.main-header {
    background-image: url(background-image.png); /*adiciona imagem ao fundo*/
    background-position: 50% 39%; /* alinhar os elementos nos eixos x e y*/
    display: flex; /*colocar os elementos no centro*/
    flex-direction: column; /* alinha os elementos um embaixo do outro*/
    align-items: center; /*centralizar os elementos*/}

    .main-nav {
        width: 100%; /*ocupar toda area disponivel*/
    }

    .header-list-container{
        display: flex; /*colocar os elementos na mesma linha*/
        justify-content: space-between; /*adiciona espaçamento entre os itens*/
        align-items: center; /*garantir que fiquem alinhados na mesma linha*/
        padding: 16px 0; /**/
    }
    .nav-item {
        text-transform: uppercase; /*deixa as letras toda maiscula*/
        color: var(--blue);
    }
    hr {
        width: 100%;
    }
    .nav-item a {
        text-decoration: none;
        color: inherit;
    }
    .nav-item:hover {
        color: GreenYellow;
        transition: 0.3s;
    }
    .main-about {
        padding: 40px 0 64px;
    }
    .container {
        max-width: 600px; /*trava a largura maxima que definimos para o projeto*/
        padding: 0 16px; /*primeiro cima/baixo, segundo esquerda/direita*/
        margin: 0 auto; /*não aplica cima/baixo, o auto distribui*/
    }
    .title-median {
        font-family: "raleway" , sans-serif;
        font-size: 32px; /*tamanho da fonte*/
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    .about-image {
        float: left; /*alinha imagem a esquerda e o texto a direita*/
        margin: 0 20px 10px 0; /*0 topo, 20 direito, 10 baixo, 0 a esquerda*/
        /*diminuir o tamanho das imagens*/
        width: 200px; /*largura*/
        height: auto; /*evita a distorção da image */
    }
    .main-footer {
        background-color: var(--skyblue); /*aplica a cor no fundo do rodapé*/
        padding: 15px 0; /*aplica espaçamento cima/baixo e nada direita e esquerda*/
    }
    .main-footer-container {
        display: flex; /*deixa tudo na mesma linha*/
        align-items: center; /*alinha todos os elementos*/
        justify-content: space-between; /*colar nomr de um lado e lista de icones do outro*/
    }
    .title-smaller {
        font-family: "Raleway", sans-serif; /*pegar as fontes importadas*/
        color: var(--blue); /*aplica a cor */
        font-size: 26px; /*aumenta o tamanho da fomte*/
    }
    
    .list-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-item {
        width: 50px;
        height: 50px;
        padding: 15px 0; /*aplica espaçamento 15px cima/baixo e 0px esquerda/direita*/
    }
    .footer-item + .footer-item {
        margin-left: 16px;
    }
/*contato*/
.contact-text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--gray);
}

.contact {
    background-color: var(--skyblue);
    padding: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.contact-label {
    display: block;
    margin-bottom: 20px;
    color: var(--blue);
}
.contact-field {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
}
.contact-field:focus {
    background-color: var(--silver);
    outline: none;
}
textarea.contact-field {
    height: 150px;
    padding: 10px;
    font-family: "roboto";
}
.buttom-form {
    border-radius: 10px;
    border: 2px solid color var(--blue);
    color: var(--white);
    background-color: var(--blue);
    padding: 2px 6px;
    font-weight: bold;
    cursor: pointer;
}
.buttom-form:hover {
    background-color: var(--white);
    color: var(--blue);
}
.contact-maps {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.title-header {
font-family: "Madimi One", cursive;
color: var(--blue);
font-size: 25px;
padding-bottom:10px;
}
.title-larger {
    font-family: "Rock Salt", cursive;
    text-align: center;
    color: var(--blue);
    font-size: 38px;
}
.description {
    text-align: center;
    color: var(--gray);
    padding-bottom: 10px
}
.emphasis {
    background-color: var(--skyblue);
    color: var(--blue);
    border-radius: 25px;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 30px;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-title {
    font-size: 20px;
    margin-bottom: 6px;
}
.product-image {
    width: 320px;
    height: 220px;
    margin-bottom: 20px;
}
.product-price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-price {
    font-family: "raleway", "san-serif";
    font-weight: bold;
     font-size: 20px;
}
.button-hover {
    background-color: var(--skyblue);
    color: var(--blue);
    border-radius: 10px 2px;
    border: 2px solid var(--skyblue);
    font-weight: bold;
    cursor: pointer;
}
.button-hover:hover {
    background-color: transparent;
}
.cart-table {
    width: 100%;
    border-collapse: collapse; /*faz com que as bordas se colapsem, entrem uma nas outra*/
 }
 
 .table-head-item {
    text-align: start;
    border-bottom: 1px solid var(--darkgray); /*adiciona a linha da borda embaixo*/
    padding-bottom: 6px;
    text-transform: uppercase; /*transforma o texto em maiusculas*/
 }
 .second-col,
 .third-col {
    width: 25%;
 }
 .cart-product {
    padding: 8px;
 }
 .product-indetification {
    display: flex;
    align-items: center;
 }
 .cart-product-image {
    width: 120px;
    height: 80px;
 }
 .cart-product-title {
    margin-left: 15px;
 }
 .cart-product-price {
    font-family: "Reloway", sans-serif;
 }
 .product-qnt-input {
    width: 45px;
    height: 35px;
    border: 2px solid ;
    border-radius: 5px;
    background-color: var(--silver);
    text-align: center;
 }
.remove-product-button {
    background-color: var(--red);
    color: var(--white);
    border: 0;
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;
}
.remove-product-button:hover {
    filter: brightness(0.8); /*diminui o brilho com o essa propriedade*/
}
.cart-total-container {
    border-top: 1px;
    text-align: end;
    padding: 6px 16px 0 0;
}
.cart-total-container strong {
    margin-right: 10px;
}
.purchase-button {
    display:flex;
    padding: 16px 20px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 6px;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    margin: 24px auto;
}
.purchase-button:hover {
    filter: brightness(0.8);
}
@media (max-width: 725px) {
    .main-footer-container {
        flex-direction: column;
    }
}

.tittle-median {
font-size: 30px;
padding: 4px;
}


@media (max-width: 680px) {

.product-container {

justify-content: center;
}

.tittle-median {

    font-size: 27px;
}


}


@media (max-width: 600px) {

.title-larger {
font-size: 32px;
}

.tittle-median {

    font-size: 21px;
}

}

@media (max-width: 500px) {

.title-header {
    font-size: 30px;
}

.title-larger {
    font-size: 26px;
}

.title-median {
    font-size: 18px;
}

.title-smaller {
    font-size: 22px;
}
}


/*405px*/

@media (max-width: 405px) {
    .nav-item img {

width: 80px;
height: 80px;

    }


.header-list-container {
font-size: 18px;
}

.description {
font-size: 19px;
font-family: "Madimi One", cursive;
}
}

.tittle-median {
font-size: 26px;
}

.title-smaller {
font-size: 17px;
}

.product-container {
max-width: 300px;
margin-left: auto;
margin-right: auto;
}

.product-image {
    width: 315px;
}






@media (max-width: 542px) {

    .title-header {
        font-family: "Madimi One", cursive;
        color: var(--blue);
        font-size: 20px;
        padding-bottom:10px;

        }
}


@media (max-width: 434px) {

    .title-header {
        font-family: "Madimi One", cursive;
        color: var(--blue);
        font-size: 17px;
        padding-bottom:10px;

        }
}


@media (max-width: 369px) {

    .title-header {
        font-family: "Madimi One", cursive;
        color: var(--blue);
        font-size: 15px;
        padding-bottom:10px;
        }


        .header-list-container{
            display: flex; /*colocar os elementos na mesma linha*/
            justify-content: space-between; /*adiciona espaçamento entre os itens*/
            align-items: center; /*garantir que fiquem alinhados na mesma linha*/
            padding: 10px 0px; 
           
        }



.product-container {

    padding-left: 15px;
}

}


@media (max-width: 350px) {

 .header-list-container{
            display: flex; /*colocar os elementos na mesma linha*/
            justify-content: space-between; /*adiciona espaçamento entre os itens*/
            align-items: center; /*garantir que fiquem alinhados na mesma linha*/
            padding: 10px 0px; 
       
        }

}

@media (max-width: 335px) {


.product-image {
    width: 320px;
    height: 220px;
    margin-bottom: 20px;
}



@media (max-width: 325px) {
.product-image {
    width: 300px;
    height: 220px;
    margin-bottom: 20px;
}

.product-price {

padding-right: 10px;

}

.title-header {
    font-family: "Madimi One", cursive;
    color: var(--blue); 
    font-size: 14px;
    padding-bottom: 10px;
    }


    .header-list-container{
        display: flex; /*colocar os elementos na mesma linha*/
        justify-content: space-between;/*adiciona espaçamento entre os itens*/
        align-items: center; /*garantir que fiquem alinhados na mesma linha*/
        padding: 10px 0px; 
   margin-left: auto;
   margin-right: auto;
    }

}
